apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ .Release.Name }}-data
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: 192.168.68.100
    path: /mnt/pve/BigData/k3s-shares/vaultwarden
  storageClassName: manual
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Release.Name }}-data
  namespace: {{ .Release.Namespace }}
spec:
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
  volumeName: {{ .Release.Name }}-data
  storageClassName: manual
