apiVersion: v1
kind: ConfigMap
metadata:
  name: dnsmasq-config
  namespace: {{ .Release.Namespace }}
data:
  dnsmasq.conf: |
    # Resolve all *.local domains to Traefik ingress IP
    address=/.local/{{ .Values.localDomainIP }}

    # Upstream DNS servers
    {{- range .Values.upstreamDNS }}
    server={{ . }}
    {{- end }}

    # Don't use /etc/resolv.conf
    no-resolv

    # Don't read /etc/hosts
    no-hosts

    # Log queries (useful for debugging, can disable later)
    log-queries

    # Listen on all interfaces
    interface=*

    # Accept DNS queries from any source
    no-daemon
