apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
data:
  config.yml: |
    app:
      publicUrl: https://{{ .Values.ingress.host }}/
      allowRegistrations: {{ .Values.allowRegistrations }}
      createDemoAccount: false
      googleAnalyticsTrackingCode:
      googleAuthKey:
      backgroundThreads: 3
      databaseUpdateThreads: 1
      smtpHost:
      smtpPort:
      smtpTls: false
      smtpUserName:
      smtpPassword:
      smtpFromAddress:
      graphiteEnabled: false
      graphitePrefix: "commafeed"
      graphiteHost: "localhost"
      graphitePort: 2003
      graphiteInterval: 60
      heavyLoad: false
      refreshIntervalMinutes: 5
      pubsubhubbub: false
      imageProxyEnabled: false
      queryTimeout: 0
      keepStatusDays: 0
      maxFeedCapacity: 500
      cache: noop
      announcement:
      userAgent:

    database:
      driverClass: org.postgresql.Driver
      url: jdbc:postgresql://{{ .Values.db.host }}:{{ .Values.db.port }}/{{ .Values.db.name }}
      user: {{ .Values.db.user }}
      password: ${DB_PASSWORD}
      properties:
        charSet: UTF-8
      validationQuery: "/* CommaFeed Health Check */ SELECT 1"
      minSize: 1
      maxSize: 50
      maxConnectionAge: 30m

    server:
      applicationConnectors:
        - type: http
          port: {{ .Values.service.port }}
      adminConnectors:
        - type: http
          port: 8084

    logging:
      level: WARN
      loggers:
        com.commafeed: INFO
        liquibase: INFO
        io.dropwizard.server.ServerFactory: INFO
        org.hibernate.orm.deprecation: "OFF"
      appenders:
        - type: console

    redis:
      host: localhost
      port: 6379
      password:
      timeout: 2000
      database: 0
      maxTotal: 500
