image:
  repository: vaultwarden/server
  tag: alpine
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  host: vault.192.168.68.150.nip.io

env:
  DOMAIN: https://vault.192.168.68.150.nip.io
  SIGNUPS_ALLOWED: "true"
  WEBSOCKET_ENABLED: "true"

resources:
  requests:
    memory: 256Mi
    cpu: 250m
  limits:
    memory: 1Gi
